.adjust-content {
  margin: 0 24px 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 16px 16px;
  grid-template-areas: "item-a item-a item-b"
    "item-a item-a item-c"
}

.item-A {
  grid-area: item-a;

}

.item-B {
  grid-area: item-b;
}

.item-C {
  grid-area: item-c;
}

.adjust-p {
  margin: 8px 24px 16px 24px;
}

@media screen and (max-width: 467px) {
  .adjust-content {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 24px 24px;
    grid-template-areas: "item-c"
      "item-a"
      "item-b";
  }

  .item-a,
  .item-b,
  .item-c {
    background-color: white;
  }

}
