header {
  background-color: var(--grotto);
  margin: 2px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: [logoStart] minmax(60px, auto) [logoEnd spacerStart] minmax(8px, auto) [spacerEnd linksStart] auto [linksEnd avatarStart] 64px [avatarEnd];
  column-gap: minmax(8px, 24px);
  align-content: center;
  justify-content: stretch;
  box-sizing: border-box;
}

.logo {
  grid-column: 1 / 1;
  margin-left: 24px;
  justify-self: start;
  align-self: center;
}

nav {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 12px;
  justify-content: space-evenly;
}

.groups {
  grid-column: 1 / 1;
  align-self: center;
}

.register {
  grid-column: 2 / 2;
  align-self: center;
}

.contact {
  grid-column: 3 / 3;
  align-self: center;
}

.menu-icon {
  display: none;
  // visibility: hidden;
  // grid-column: 0 / 0 ;
}

.avatar {
  grid-column: 4 / 4;
  max-width: 54px;
  max-height: 54px;
  box-sizing: content-box;
  border-radius: 100%;
  margin-top: 16px;
  align-self: center;
}

a {
  text-decoration: none;
  color: var(--navy);
  padding: 12px 16px;
  border-radius: 8px;
}

a:hover {
  color: var(--white);
  font-size: 700;
  background-color: var(--navy);
}

@media (max-width: 499px) {
  nav {
    grid-template-columns: repeat(2, auto);
    column-gap: minmax(8px, 24px);
  }

  .logo {
    width: auto;
  }

  .groups,
  .register,
  .contact {
    display: none;
  }

  .menu-icon {
    display: inline;
    visibility: visible;
    grid-column: 1 / 1;
    justify-self: center;
    align-self: center;
    margin: 0 auto;
    box-sizing: content-box;
  }

  .avatar {
    grid-column: 2 / 2;
    max-width: 54px;
    max-height: 54px;
    border-radius: 100%;
    padding: 8px;
    justify-self: end;
  }

}
