<header>
  <div class="logo">
    <h2>Responsive CSS Grid</h2>
  </div>
  <span class="spacer"></span>
  <nav>
    <span class="groups"><a href="#">Link 1</a></span>
    <span class="register"><a href="#">Link 2</a></span>
    <span class="contact"><a href="#">Link 3</a></span>
    <span class="menu-icon">
      <i class="fas fa-bars fa-2x"></i>
    </span>
    <span >
      <img class="avatar" src="../../assets/marc.jpg" alt="Image of user from identity provider." />
    </span>
  </nav>
</header>
